{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 5% in CN", "safari >= 11", "ie > 11"]
      },
      "modules": false
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}
